.kanjiCell {
  font-size: 1.5em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  display: inline-block;
  cursor: pointer;
}

.kanjiHoverTarget {
  display: inline-block;
  padding: 0.25em 0.5em;
}

.kanjiHoverTarget:hover,
.kanjiHoverTarget:focus {
  opacity: 0.8;
}

.popover {
  position: fixed;
  display: flex;
  left: 1.5em;
  bottom: 1.5em;
  background-color: white;
  padding: 1em 2.5em;
  box-shadow: 4px 4px 0 #333;
  border: 1px solid #333;
  z-index: 10;
  cursor: default;
}

.bigChar {
  font-size: 10em;
}

.data {
  margin: 1.5em;
}
